challenge-ws.code-workspace
notebook/.ipynb_checkpoints/EDA-checkpoint.ipynb
notebook/.ipynb_checkpoints/EDA-Joao-checkpoint.ipynb
ml/mlruns/*
business/Master Template Deck_Jun21.pptx
notebook/.ipynb_checkpoints/Model Training-checkpoint.ipynb
notebook/mlruns
notebook/model_training_1.log